name: TSV Wedding form generator
run-name: ${{ github.actor }} made changes
on: [push]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Cairo dependencies
        run: sudo apt-get update && sudo apt-get install -y libcairo2-dev pkg-config

      - name: Install the project
        run: uv sync --locked --all-extras --dev        

      - run: uv run pdfgen.py

      - name: Put current date into a variable
        run: |
          echo "DATE=$(date "+%Y-%m-%dT%H-%M")" >> $GITHUB_ENV
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: tsv.pdf
          asset_name: tsv.pdf
          tag: ${{ env.DATE }}
          overwrite: true
          body: "This is my release text"      
